<%- include('../customer/includes/head', { pageTitle: 'Error page' }) %>
<link rel="stylesheet" href="/styles/base.css">
</head>
<body>
	<%- include('../customer/includes/header') %>
	<main>
		<h1>Somthing went wrong </h1>
        <p>Unfortunatly Somthing went wrong-plaese try again later</p>
        <p><a class="btn" href="/">Back to Safety</a></p>
		
	</main>

	<%- include('../customer/includes/footer') %>

