<%- include('../../shared/includes/head', { pageTitle: 'Payment successful' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Payment is successful</h1>
    <p>You can return to Homepage</p>
  </main>
<%- include('../../shared/includes/footer') %>