main {
    margin-top: 6rem;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    height: 5rem;
    padding: 0 var(--space-6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-primary-500);
    background-color: var(--color-grey-500);
}


#logo a {
    font-weight: bold;
    font-size: 2rem;
}

.nav-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#mobile-menu .nav-items a,
#mobile-menu .nav-items button {
    font-size: 1.75rem;
    color: var(--color-primary-100);
    
}


.nav-items li {
    margin: 0 var(--space-2);
}

#menu-bar-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    cursor: pointer;
    width: 2.25rem;
    height: 2.25rem;
    background-color: transparent;
    padding: none;
    
}

#main-header nav {
    display: none;
}

#menu-bar-btn span {
    width: 2.25rem;
    height: 0.2rem;
    background-color: rgb(255, 251, 251);

}

#mobile-menu {
    position: fixed;
    top: 5rem;
    left: 0;
    height: calc(100vh - 5rem);
    width: 100%;
    background-color: var(--color-gray-700);
    display: none;
    flex-direction: column;
    align-items: center;
}

#mobile-menu.open {
    display: flex;
}

#mobile-menu nav {
    height: 20rem;
    width: 90%;
    margin: var(--space-4) auto;
}

.nav-items button {
    cursor: pointer;
    font: inherit;
    border: 1px solid var(--color-primary-100);
    background-color: transparent;
    padding: var(--space-2) var(--space-4);
    border-radius: var(--border-radius-small);
    

}

@media (min-width: 48rem) {

    #main-header nav {
        display: block;
    }

    main {
        margin-top: 0;
    }

    #main-header {
        position: static;
    }

    .nav-items button {
        color: var(--color-primary-500);
        border: 1px solid var(--color-primary-500);
        
    }



    #menu-bar-btn {
        display: none;
    }

    #mobile-menu {
        display: none;
    }

    .nav-items {
        flex-direction: row;
    }

    .nav-items a {
        padding: var(--space-2) var(--space-4);
        border-radius: var(--border-radius-small);
        height: 50px;
            margin: 5px;
            width: 120px;
            background: #333;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            cursor: pointer;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-family: Consolas, Courier New, monospace;
            border: solid #404c5d 1px;
            font-size: 16px;
            color: rgb(161, 161, 161);
            -webkit-transition: 500ms;
            transition: 500ms;
            border-radius: 5px;
            background: linear-gradient(145deg, #2e2d2d, #212121);
            -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
                inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
            box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
                inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    }

    .nav-items a:hover,
    .nav-items a:active {
        background-color: var(--color-primary-500-bg);
    }
}