<%- include('../../shared/includes/head', { pageTitle: 'All Products' }) %>
<link rel="stylesheet" href="/styles/products.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main id="product-details">
    <header>
      <img src="" alt="" >
      <div id="product-info">
        <h1>Name</h1>
        <p>Price</p>
        <button>Add to cart</button>
      </div>
    </header>

    <p>product description</p>
  </main>
<%- include('../../shared/includes/footer') %>
